html, body, .wrapper, .fluid-ul {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white; }

body {
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  padding-top: 60px; }

nav {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  border-bottom: #ffbf00 solid 5px !important; }

footer {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  color: #333333 !important;
  padding: 10px;
  z-index: 1000 !important;
  border-top: 5px solid #ff0030; }

a {
  color: #333333 !important;
  text-decoration: none !important; }

.img-radio {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  display: inline-block !important;
  width: 100%;
  height: auto; }
  .img-radio:hover {
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }

.fluid-ul {
  background: #ffbf00;
  padding: 10px 0; }

.fluid-li, .fluid-li-8 {
  transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden; }

.fluid-li {
  transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.fluid-li-8 {
  outline: none;
  width: 12.5%;
  min-height: 20px;
  line-height: 20px;
  background: transparent !important;
  color: black; }

.brand, .main-brand, .footer-brand, .icon-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  background: white !important;
  color: #333333 !important;
  text-transform: uppercase;
  border-bottom: 5px solid transparent; }
  .brand:hover, .main-brand:hover, .footer-brand:hover, .icon-brand:hover {
    border-bottom: 5px solid #ff0030 !important; }
  .brand:active, .main-brand:active, .footer-brand:active, .icon-brand:active {
    border-bottom: 5px solid #ff7518 !important; }

.main-brand, .icon-brand {
  font-size: 16pt;
  border-bottom: none !important; }
  .main-brand:hover, .main-brand:active, .icon-brand:hover, .icon-brand:active {
    border-bottom: none !important; }

.main-brand {
  margin-top: 3px; }

.footer-brand, .icon-brand {
  margin: 10px 10px 20px 10px; }

.icon-brand {
  font-size: 18pt;
  padding: 10px;
  margin: 10px; }
  .icon-brand:hover, .icon-brand:active {
    color: black !important; }

.circle-brand {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  display: inline-block !important;
  height: 48px !important;
  width: 48px;
  padding: 9px 10px 10px 10px;
  border: solid 4px #ff7518 !important; }
  .circle-brand:hover {
    border: solid 4px #ff7518 !important; }

.wrapper {
  width: 100%;
  height: auto;
  text-align: center; }

.port {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  font-size: 18pt;
  width: 100%;
  height: 110px;
  line-height: normal;
  color: transparent; }
  .port:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.25); }
  .port:active {
    color: transparent;
    background-color: transparent; }

.radio-title {
  color: white !important;
  font-size: 13pt;
  padding: 10px 0;
  text-transform: uppercase; }

.radio-description {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  font-size: 10.5pt;
  padding: 10px 0;
  height: 40px; }

.radio-line {
  color: white !important;
  font-size: 16pt; }

.design-by {
  vertical-align: top;
  height: 60px;
  color: #757575 !important;
  font-size: 9pt !important; }

.play, .play-particle {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; }

.play {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(66, 66, 66, 0.5); }
  .play .fluid-ul {
    padding: 0;
    background: rgba(255, 0, 0, 0.5); }
  .play .wrapper {
    background: transparent; }
  .play .row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background: url("../img/sgrid.svg") repeat-x transparent; }
    .play .row span {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      background: white;
      font-size: 11pt;
      border: 1px solid #666666;
      color: #666666;
      display: inline-block;
      padding: 0 5px;
      line-height: normal; }

.city {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: white;
  background: rgba(255, 0, 0, 0.5);
  display: inline-block;
  padding: 0 5px; }
  .city:hover {
    border-right: 5px solid #ffbf00;
    border-left: 5px solid #ffbf00; }
  .city:active {
    border-right: 10px solid #ff7518 !important;
    border-left: 10px solid #ff7518 !important; }

.city-selection {
  -webkit-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  -ms-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8); }

.check-line {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  height: 50px;
  width: 4px;
  background: #ffbf00; }

.menu-btn {
  border: 2px solid #ffbf00 !important;
  background: white !important; }
  .menu-btn:hover, .menu-btn:active {
    background: white !important;
    border-color: #ff7518 !important; }

#view {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }

#main {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); }

#img-view {
  transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffbf00;
  position: fixed !important;
  z-index: 9000;
  color: white; }

.nip {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  top: 50%;
  left: 50%;
  height: 0%;
  width: 0%; }
  .nip p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    padding-top: 10px; }
  .nip img {
    transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    height: 50%;
    width: 50%;
    display: block !important;
    margin: auto; }

.expand-img-h img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 94% !important;
  width: auto !important; }

.expand-img-w img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 95% !important;
  height: auto !important; }

.expand {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  top: 60px;
  left: 0%;
  height: calc(100% - 100px ) !important;
  width: 100%; }

.check-line-city-0 {
  left: 6.25%; }

.check-line-city-1 {
  left: 18.75%; }

.check-line-city-2 {
  left: 31.25%; }

.check-line-city-3 {
  left: 43.75%; }

.check-line-city-4 {
  left: 56.25%; }

.check-line-city-5 {
  left: 68.75%; }

.check-line-city-6 {
  left: 81.25%; }

.check-line-city-7 {
  left: 93.75%; }

#in {
  margin: 40px auto; }

.row-contacts {
  background: url("../img/radio/radio-(1).png") 0 0;
  border-right: 5px solid #12a5f4 !important;
  border-left: 5px solid white !important; }

.row-about {
  background: url("../img/radio/radio-(1).png") 100% 100%;
  border-right: 5px solid white !important;
  border-left: 5px solid #00dd00 !important; }

.contacts {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  border: 20px solid white;
  background: white;
  font-size: 11pt;
  line-height: 16pt !important; }

p:first-letter {
  margin: 0 0 0 15px; }

.color-skype, .color-facebook, .color-mail, .color-address, .color-user, .color-phone {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-bottom: 5px solid transparent !important; }
  .color-skype:hover, .color-skype:active, .color-facebook:hover, .color-facebook:active, .color-mail:hover, .color-mail:active, .color-address:hover, .color-address:active, .color-user:hover, .color-user:active, .color-phone:hover, .color-phone:active {
    border-bottom: 5px solid #12a5f4 !important;
    color: #12a5f4 !important; }

.color-facebook:hover, .color-facebook:active {
  border-bottom: 5px solid #3b5998 !important;
  color: #3b5998 !important; }

.color-mail:hover, .color-mail:active {
  border-bottom: 5px solid #ff0030 !important;
  color: #ff0030 !important; }

.color-address:hover, .color-address:active {
  border-bottom: 5px solid #00dd00 !important;
  color: #00dd00 !important; }

.color-user:hover, .color-user:active {
  border-bottom: 5px solid #ff7518 !important;
  color: #ff7518 !important; }

.color-phone:hover, .color-phone:active {
  border-bottom: 5px solid #6600ff !important;
  color: #6600ff !important; }

.fa-size {
  font-size: 17px; }

@media all and (min-width: 1200px) {
  .fluid-li {
    outline: none;
    width: 50%;
    min-height: 240px;
    line-height: 240px; }

  #main {
    width: 90%;
    margin: 0 5%; } }
@media all and (min-width: 768px) and (max-width: 1200px) {
  .fluid-li {
    outline: none;
    width: 50%;
    min-height: 240px;
    line-height: 240px; }

  #main {
    width: 96%;
    margin: 0 2%; } }
@media all and (max-width: 768px) {
  .fluid-li {
    outline: none;
    width: 100%;
    min-height: 620px;
    line-height: 620px; }

  .contacts {
    margin: 240px 0 0 0; }

  .center-star {
    color: transparent; }

  #main {
    width: calc(100% - 20px );
    margin: 0 10px; }

  .img-radio {
    width: auto;
    height: calc(100% - 110px ); } }
.navbar-default {
  background: white;
  margin: 0; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #666666 !important; }

.red {
  color: #ff0030 !important; }

.orange {
  color: #ff7518 !important; }

.input-group-addon {
  width: 40px !important; }

.form-control {
  width: 300px !important; }

.input-group {
  margin: 10px auto; }

.btn {
  padding: 10px 30px !important; }

.error, .success {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0 0 7px rgba(255, 0, 0, 0.7);
  -moz-box-shadow: 0 0 7px rgba(255, 0, 0, 0.7);
  -ms-box-shadow: 0 0 7px rgba(255, 0, 0, 0.7);
  box-shadow: 0 0 7px rgba(255, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.success {
  -webkit-box-shadow: 0 0 7px rgba(0, 221, 0, 0.8);
  -moz-box-shadow: 0 0 7px rgba(0, 221, 0, 0.8);
  -ms-box-shadow: 0 0 7px rgba(0, 221, 0, 0.8);
  box-shadow: 0 0 7px rgba(0, 221, 0, 0.8); }
