html, body, .wrapper, .fluid-ul {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white; }

body {
  padding-top: 60px; }

nav {
  border-bottom: #ffbf00 solid 5px !important; }

footer {
  color: #333333 !important;
  padding: 10px;
  z-index: 1000 !important;
  border-top: 5px solid #ff0030; }

a {
  color: #333333 !important;
  text-decoration: none !important; }

.img-radio-1 {
  background: url("../img/radio/radio%20(1).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-2 {
  background: url("../img/radio/radio%20(2).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-3 {
  background: url("../img/radio/radio%20(3).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-4 {
  background: url("../img/radio/radio%20(4).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-5 {
  background: url("../img/radio/radio%20(5).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-6 {
  background: url("../img/radio/radio%20(6).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-7 {
  background: url("../img/radio/radio%20(7).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-8 {
  background: url("../img/radio/radio%20(8).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-9 {
  background: url("../img/radio/radio%20(9).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-10 {
  background: url("../img/radio/radio%20(10).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-11 {
  background: url("../img/radio/radio%20(11).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.img-radio-12 {
  background: url("../img/radio/radio%20(12).jpg") 50% 50% no-repeat;
  background-origin: padding-box;
  background-size: cover; }

.fluid-ul {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  background: #e6e6e6; }

.fluid-li, .fluid-li-8 {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden; }

.fluid-li:active {
  display: block !important;
  position: fixed !important;
  top: 60px;
  width: calc(100% - 200px );
  height: calc(100% - 105px) !important;
  border: 5px solid #ff7518 !important;
  z-index: 1000; }

.fluid-li-8 {
  width: 12.5%;
  min-height: 20px;
  line-height: 20px;
  background: transparent !important;
  color: black; }

.brand, .main-brand, .footer-brand, .icon-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  background: white !important;
  color: #333333 !important;
  text-transform: uppercase;
  border-bottom: 5px solid transparent; }
  .brand:hover, .main-brand:hover, .footer-brand:hover, .icon-brand:hover {
    border-bottom: 5px solid #ff0030 !important; }
  .brand:active, .main-brand:active, .footer-brand:active, .icon-brand:active {
    border-bottom: 5px solid #ff7518 !important; }

.main-brand, .icon-brand {
  font-size: 16pt;
  border-bottom: none !important; }
  .main-brand:hover, .main-brand:active, .icon-brand:hover, .icon-brand:active {
    border-bottom: none !important; }

.main-brand {
  margin-top: 3px; }

.footer-brand, .icon-brand {
  margin: 10px 10px 20px 10px; }

.icon-brand {
  font-size: 18pt;
  padding: 10px;
  margin: 10px; }
  .icon-brand:hover, .icon-brand:active {
    color: black !important; }

.circle-brand {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  display: inline-block !important;
  height: 48px !important;
  width: 48px;
  padding: 9px 10px 10px 10px;
  border: solid 4px #ff7518 !important; }
  .circle-brand:hover {
    border: solid 4px #ff7518 !important; }

.wrapper {
  width: 100%;
  height: auto;
  text-align: center; }

.port {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 18pt;
  width: 100%;
  height: 100%;
  color: transparent; }
  .port:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6); }
  .port:active {
    color: transparent;
    background-color: transparent; }

.radio-title {
  line-height: normal;
  font-size: 13pt;
  padding: 20px 0;
  text-transform: uppercase; }

.radio-description {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  font-size: 10.5pt;
  padding: 10px 0;
  line-height: normal;
  height: 40px; }

.radio-line {
  font-size: 16pt;
  line-height: normal; }

.design-by {
  vertical-align: top;
  height: 60px;
  color: #757575 !important;
  font-size: 9pt !important; }

.play, .play-particle {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px; }

.play {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(66, 66, 66, 0.5); }
  .play .fluid-ul {
    background: rgba(255, 0, 0, 0.5); }
  .play .wrapper {
    background: transparent; }
  .play .row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background: url("../img/sgrid.svg") repeat-x transparent; }
    .play .row span {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      background: white;
      font-size: 11pt;
      border: 1px solid #666666;
      color: #666666;
      display: inline-block;
      padding: 0 5px;
      line-height: normal; }

.city {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: white;
  background: rgba(255, 0, 0, 0.5);
  display: inline-block;
  padding: 0 5px; }
  .city:hover {
    border-right: 5px solid #ffbf00;
    border-left: 5px solid #ffbf00; }
  .city:active {
    border-right: 10px solid #ff7518 !important;
    border-left: 10px solid #ff7518 !important; }

.city-selection {
  -webkit-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  -ms-box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8); }

.check-line {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  height: 55px;
  width: 4px;
  background: #ffbf00; }

#layout {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }

.menu-btn {
  border: 2px solid #ffbf00 !important;
  background: white !important; }
  .menu-btn:hover, .menu-btn:active {
    background: white !important;
    border-color: #ff7518 !important; }

#view {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }

.check-line-city-0 {
  left: 6.25%; }

.check-line-city-1 {
  left: 18.75%; }

.check-line-city-2 {
  left: 31.25%; }

.check-line-city-3 {
  left: 43.75%; }

.check-line-city-4 {
  left: 56.25%; }

.check-line-city-5 {
  left: 68.75%; }

.check-line-city-6 {
  left: 81.25%; }

.check-line-city-7 {
  left: 93.75%; }

.row-contacts {
  background: url("../img/radio/radio%20(7).jpg") 0 0;
  border-right: 5px solid #12a5f4; }

.row-about {
  background: url("../img/radio/radio%20(7).jpg") 100% 100%;
  border-left: 5px solid lime; }

.contacts {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  border: 20px solid white;
  background: white;
  font-size: 11pt;
  line-height: 16pt !important; }

p:first-letter {
  margin: 0 0 0 15px; }

.color-skype, .color-facebook, .color-mail, .color-address, .color-user, .color-phone {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-bottom: 5px solid transparent !important; }
  .color-skype:hover, .color-skype:active, .color-facebook:hover, .color-facebook:active, .color-mail:hover, .color-mail:active, .color-address:hover, .color-address:active, .color-user:hover, .color-user:active, .color-phone:hover, .color-phone:active {
    border-bottom: 5px solid #12a5f4 !important;
    color: #12a5f4 !important; }

.color-facebook:hover, .color-facebook:active {
  border-bottom: 5px solid #3b5998 !important;
  color: #3b5998 !important; }

.color-mail:hover, .color-mail:active {
  border-bottom: 5px solid #ff0030 !important;
  color: #ff0030 !important; }

.color-address:hover, .color-address:active {
  border-bottom: 5px solid lime !important;
  color: lime !important; }

.color-user:hover, .color-user:active {
  border-bottom: 5px solid #ff7518 !important;
  color: #ff7518 !important; }

.color-phone:hover, .color-phone:active {
  border-bottom: 5px solid #6600ff !important;
  color: #6600ff !important; }

.center-star {
  display: block !important;
  position: absolute !important;
  right: -25px !important;
  top: -25px !important;
  left: auto !important; }

.fa-size {
  font-size: 17px; }

@media all and (min-width: 1200px) {
  .fluid-li {
    width: 50%;
    min-height: 240px;
    line-height: 240px; }

  #layout {
    border-right: 120px solid white;
    border-left: 120px solid white; } }
@media all and (min-width: 768px) and (max-width: 1200px) {
  .fluid-li {
    width: 50%;
    min-height: 240px;
    line-height: 240px; }

  #layout {
    border-right: none;
    border-left: none; }

  .fluid-li:active {
    display: block !important;
    position: fixed !important;
    top: 60px;
    width: 100%;
    height: calc(100% - 105px) !important;
    border: 5px solid #ff7518 !important;
    z-index: 1000; } }
@media all and (max-width: 768px) {
  .fluid-li {
    width: 100%;
    min-height: 620px;
    line-height: 620px; }

  .contacts {
    margin: 240px 0 0 0; }

  .center-star {
    color: transparent; }

  #layout {
    border-right: none;
    border-left: none; }

  .fluid-li:active {
    display: block !important;
    position: fixed !important;
    top: 60px;
    width: 100%;
    height: calc(100% - 105px) !important;
    border: 5px solid #ff7518 !important;
    z-index: 1000; } }
.navbar-default {
  background: white;
  margin: 0; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #666666 !important; }

#toggle {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }
  #toggle:hover {
    border-color: #ffbf00 !important; }
  #toggle:active {
    border-color: #ff0030 !important; }

.red {
  color: #ff0030 !important; }

.orange {
  color: #ff7518 !important; }
