<div class="container" id="connections">
    <div class="row row-contacts">
        <div class="col-sm-6 col-sm-offset-6 text-left contacts">
            <div class="row row-contact" ng-repeat="contact in vc.contacts">
                <a href="{{contact.link}}" title="{{contact.data}}">
                    <span class="color-facebook">
                        <span class="{{contact.icon}}"></span>&nbsp;&nbsp;{{contact.data}}
                    </span>
                </a>
                <hr ng-if="contact.line === 'true'">
            </div>
        </div>
    </div>
    <div class="row text-left row-about">
        <div class="col-sm-6 contacts">
            <p ng-repeat="text in vc.text">{{text}}</p>
        </div>
    </div>
</div>